<app-card>
  <article>
    <header>
      <h3>{{ task.title }}</h3>
      <p>{{ taskStatus }}</p>
    </header>

    <time>{{ task.dueDate | date:'fullDate'}}</time>
    <p>{{ task.summary }}</p>

    <!-- Sintactic sugar way of the custom estructural directive -->
    <div *ngIf="task.title === 'Directives'">
       <div *appAuth="'fede'">
         <a href="https://angular.dev/" appSafeLink="/tutorials">Link to Angular site!</a>
       </div>
    </div>
    <p *ngIf="task.title === 'Pipes'">
      This task is like {{ temperature | temperature:'cel':'fah' }} <|> {{ temperature | temperature:'fah':'cel' }}
    </p>
    <div *ngIf="task.title === 'RxJS'">
      <p>Observables are values on a stream of data and are great for managing events or streamed data.</p>
      <p>Signals are values on a container and are great for managind the applicationstate. </p>

      <p class="actions"> {{slowCurstomInterval}} | {{regularInterval}} </p>
    </div>
    <div *ngIf="task.title === 'HTTP Requests'">
      <app-new-request (close)="onCloseAddRequest()" *ngIf="isAddingRequest"></app-new-request>
      <p class="actions">
        <button type="button" (click)="onStartAddRequest()">Click on me to learn more about HTTP requests with images!</button>
      </p>
    </div>
    <div *ngIf="task.title === 'Template Forms'">
      <app-simple-form />
    </div>

    <div class="form">
      <select #status>
        <option value="open" [selected]="task.status === 'OPEN'">Open</option>
        <option value="in-progress" [selected]="task.status === 'IN_PROGRESS'">
          In-Progress
        </option>
        <option value="done" [selected]="task.status === 'DONE'">
          Completed
        </option>
      </select>
      <p>
        <button class="button" (click)="onChangeTaskStatus(task.id, status.value)">Change Status</button>
      </p>
    </div>

    <p class="actions">
      <button type="button" (click)="onCompleteTask()">Complete</button>
    </p>
  </article>
</app-card>
