<section id="tasks">
  <header>
    <h2>{{ lessonName }}'s Tasks</h2>
    <p>
      <select (change)="onChangeTasksFilter(filter.value)" #filter>
        <option value="all">All</option>
        <option value="open">Open</option>
        <option value="in-progress">In-Progress</option>
        <option value="done">Completed</option>
      </select>
    </p>
    <menu>
      <button [routerLink]="['./']" [queryParams]="{ sort: selectedSort === 'asc' ? 'desc' : 'asc' }">
        Sort {{ selectedSort === 'asc' ? 'descending' : 'ascending' }}
      </button>
      <button [routerLink]="['new']">Add Task</button>
    </menu>
  </header>

  <ul>
    <li *ngFor="let task of displayedTasks">
        <app-task [task]="task" (taskUpdated)="onTaskChanged()" />
    </li>
  </ul>
</section>
