<form #form="ngForm" class="login-form" (ngSubmit)="onSubmit(form)">
  <h2 class="login-form__title">Login</h2>
  <div class="login-form__row">
    <div class="login-form__group login-form__group--no-margin">
      <label class="login-form__label" for="email">Email</label>
      <input class="login-form__control" id="email" type="email" name="email" ngModel required email #email="ngModel" />
    </div>

    <div class="login-form__group login-form__group--no-margin">
      <label class="login-form__label" for="password">Password</label>
      <input class="login-form__control" id="password" type="password" name="password" ngModel required minlength="6" #password="ngModel" />
    </div>

    <button class="login-form__button" [disabled]="form.invalid">Login</button>
  </div>

  <div class="login-form__error" *ngIf="form.invalid && email.touched && email.dirty">
    <p>Invalid email. Please try again</p>
  </div>

  <div class="login-form__error" *ngIf="form.invalid && password.touched && password.dirty">
    <p>Invalid password, it must be at least 6 characters. Please try again</p>
  </div>
</form>
