<app-places-container title="Your Favorite Places">
  <div aria-live="polite">
    <p class="places-list__fallback" *ngIf="localError">{{ localError }}</p>

    <p class="places-list__fallback" *ngIf="isFetching && !localError">
      Loading your favorite places, please wait.
    </p>

    <app-places
      [places]="favoritePlaces"
      (selectPlace)="onRemovePlace($event)"
      *ngIf="!isFetching && !localError && favoritePlaces.length > 0"
    />

    <p class="places-list__fallback" *ngIf="!isFetching && !localError && favoritePlaces.length === 0">
      Unfortunately, no places could be found.
    </p>
  </div>
</app-places-container>
