<app-error-modal
  *ngIf="error" role="alertdialog" [title]="'Something went wrong'" [message]="error"
  aria-modal="true" [attr.aria-labelledby]="'error-modal-title'"
  [attr.aria-describedby]="'error-modal-message'">
</app-error-modal>

<div class="mf-angular-16-remote-theme">
  <header>
    <app-header />
  </header>
  <main tabindex="-1" id="main-content">
    <h1 class="mf-angular-16-remote-theme__fallback">
      Select a lesson to see their information
    </h1>
    <nav aria-label="Lessons">
      <ul class="mf-angular-16-remote-theme__users">
        <li *ngFor="let lesson of lessons">
          <app-lesson
            [lesson]="lesson" [selected]="lesson.id === selectedLessonId" (select)="onSelectLesson($event)"
            [attr.tabindex]="0" [attr.aria-selected]="lesson.id === selectedLessonId" [attr.role]="'option'">
          </app-lesson>
        </li>
      </ul>
    </nav>
    <section class="mf-angular-16-remote-theme__lessons-tasks" aria-live="polite">
      <router-outlet />
    </section>
  </main>
</div>
