<div class="mf-angular-16-remote-theme">
  <app-header />

  <main>
    <ul id="users">
      <li *ngFor="let lesson of lessons">
        <app-lesson
          [lesson]="lesson"
          [selected]="lesson.id === selectedLessonId"
          (select)="onSelectLesson($event)" />
      </li>
    </ul>

    <app-tasks *ngIf="selectedLesson; else fallback" [lessonId]="selectedLesson.id" [name]="selectedLesson.name" />

    <ng-template #fallback>
      <p id="fallback">Select a lesson to see their tasks!</p>
    </ng-template>

  </main>
</div>
