<header class="header-container">
  <img
    class="header-container__logo"
    src="assets/mf-angular-16/task-management-logo.png"
    alt="Task Management Logo"
  />

  <div class="header-container__content">
    <h1 class="header-container__title">{{ 'HEADER_TITLE' | translate }}</h1>
    <p class="header-container__description">{{ 'HEADER_SUBTITLE' | translate }}</p>
  </div>

  <select (change)="switchLanguage($event)" class="header-container__language-select">
    <option value="en">English</option>
    <option value="es">Español</option>
  </select>

</header>
